{% load static %}
<header class="navbar">
  <div class="container navbar-container">
    <div class="logo">
      <a href="{% url 'index' %}">Seo <br> Jangwon</a>
    </div>

    <nav id="navbar-menu" class="navbar-menu">
      <ul>
        <li><a href="{% url 'index' %}#about">About</a></li>
        <li><a href="{% url 'index' %}#portfolio">Portfolio</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>

    <button id="nav-toggle" class="navbar-toggle">&#9776;</button>
  </div>
</header>